@import url('https://fonts.googleapis.com/css?family=Muli+Sans');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */



/* Login Page Css */

.bg_img {
  background-image: url(./flat-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
#login-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bg-opacity-8 {
  background-color: rgba(255, 255, 255, .8)!important;
}
.input-field {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.ml-4 {
  margin-left: 4% !important;
}
.input-field h5 {
  font-size: 1.4rem!important;
  font-weight: 600!important;
  line-height: 110%;
  margin: .82rem 0 0rem 0!important;
}

.input-field .prefix {
  font-size: 25px;
  position: absolute;
  top: .75rem;
  width: 3rem;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}
.row {
  margin-right: 0px!important;
  margin-left: 0px!important;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .helper-text, .input-field .prefix ~ .autocomplete-content {
  width: 92%!important;
  width: -webkit-calc(100% - 3rem);
  width: -moz-calc(100% - 3rem);
  width: calc(91% - 3rem)!important;
  margin-left: 3rem!important;
}
input:not([type]),select, textarea , input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  font-size: 1rem;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 3rem;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  -moz-transition: box-shadow .3s, border .3s;
  -o-transition: box-shadow .3s, border .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgb(153, 153, 153);
}
.input-field label {
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  cursor: text;
  -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
  -moz-transition: transform .2s ease-out, color .2s ease-out, -moz-transform .2s ease-out;
  -o-transition: color .2s ease-out, -o-transform .2s ease-out;
  transition: color .5s ease-out, -webkit-transform .2s ease-out;
  transition: transform .5s ease-out, color .2s ease-out;
  transition: transform .5s ease-out, color .2s ease-out, -webkit-transform .2s ease-out, -moz-transform .2s ease-out, -o-transform .2s ease-out;
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  -ms-transform: translateY(12px);
  -o-transform: translateY(12px);
  transform: translateY(12px);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  text-align: initial;
  color: #9e9e9e;
  transition: .5s!important;
  pointer-events: none;
}
/* .input-field input:focus ~ label
 {
  top: -27px;
  left: 0px;
  color:#d14b07;
  font-size: 18px;
} */
/* .input-field input + label::after
 {
  top: -27px;
  left: 0px;
  color:#d14b07;
  font-size: 18px;
} */
.input-field input[type=date] + label 
 {
  top: -27px!important;
  left: 19px;
  color:#d14b07;
  font-size: 12px;
}
.input-field select + label 
 {
  top: -22px!important;
    left: 19px!important;
    color: #d14b07;
    font-size: 12px;
}
.input-field .prefix:focus ~ label {
  margin-left: 3rem;
}
.input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label {
  width: -webkit-calc(100% - 3rem - 1.5rem);
  width: -moz-calc(100% - 3rem - 1.5rem);
  width: calc(100% - 3rem - 1.5rem);
  /* background-color: white; */
}
.input-field .prefix ~ label {
  margin-left: 3rem;
}
.input-field.col label {
  left: .75rem;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  margin-left: 1.7rem;
}
.login-btn {
  margin-top: 32px!important;
  text-align: center;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: .5px;
    color: #fff;
    background: linear-gradient(45deg, #f8b006, #d14b07) !important;
    border: 0px;
    padding: 1.5% 38%;
    border-radius: 0.25rem;
    margin: 1rem;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .14), 0 0px 0px 0px rgba(0, 0, 0, .12), 0 0px 0px 0 rgba(0, 0, 0, 0);
}
/* .login-btn:hover {
  background-color: #fff!important;
    border: 2px solid #d14b07;
    color: #d14b07;
    font-weight: 600;

} */
.box02 h2 {
  margin-bottom: 0px;
  line-height: .9;
  color: rgb(153, 153, 153);
}
.box02 p {
  color: rgb(153, 153, 153);
}

.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50% );
}


@media only screen and (max-width: 480px) { 
  .justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, 40%);
  }
}
@media only screen and (max-width: 480px) and (min-width: 360px) {
  .box {
    width: 100%!important;
  }
  .box1 {
    display: none;
  }
  .box02 {
    width: 100%!important;
  }
  .forgot {
    margin-bottom: 45px;
    font-size: 14px!important;
    color: #d14b07!important;
    margin-top: 0px!important;

}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  margin-left: 1rem!important;
}
header {
  display: none!important;
}
.demo {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -7px rgba(0, 0, 0, .2);
  border-radius: 6px;
  background-color: #fff;
  width: 90%!important;
  margin-left: auto!important;
  margin-right: auto!important;
}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .box {
    width: 100%!important;
  }
  .box1 {
    display: none;
  }
  .box02 {
    width: 100%!important;
  }
  .demo {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -7px rgba(0, 0, 0, .2);
    border-radius: 6px;
    background-color: #fff;
    width: 90%;
    margin-left: auto!important;
    margin-right: auto!important;
}
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .login-img {
  /* width: 101%!important; */
  margin-top: 28px!important;
  }
  .box02 p {
    color: #999;
    font-size: 12px;
    margin-right: 0px;
}
.login-btn {
  margin: 1rem!important;
}
.forgot {
  margin-top: 0px!important;
}
}

@media only screen and (max-width: 359px) and (min-width: 320px) {
  .box {
    width: 100%!important;
  }
  .box1 {
    display: none;
  }
  .box02 {
    width: 100%!important;
  }
  .forgot {
    margin-bottom: 45px;
    color: #d14b07!important;
    font-size: 12px!important;
}
.box02 p {
  color: rgb(153, 153, 153);
  font-size: 12px;
}
.demo {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -7px rgba(0, 0, 0, .2);
  border-radius: 6px;
  background-color: #fff;
  width: 90%!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

}

.bg {
  /* The image used */
  background-image: url('./Images/orange01.jpg');
  overflow-y: hidden;
  /* Full height */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  /* position: absolute;
  top: 50%;
  left: 38%; */
  /* transform: translate(-50%, -50% ); */
  /* width: 25%; */
  /* border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -7px rgba(0, 0, 0, .2); */
}
.box1 {
  /* position: absolute;
  top: 50%;
  left: 61%;
  transform: translate(-50%, -50% );
  width: 25%; */
  /* border-radius: 10%; */
  /* box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -7px rgba(0, 0, 0, .2); */
}
.box02 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55% );
  width: 50%;
}
.border-radius-6 {
  border-radius: 6px !important;
}
.forgot {
  margin-bottom: 1.64rem;
  font-size: 14px;
  color: #d14b07!important;
  margin-top: 10px;

}
.pdlr {
  padding: 0px 9%!important;
}
.rem {
  text-align: left;
  margin: 6% 1% 0px;
}
.login-img {
  width: 101%;
  /* margin-left: -22%; */
  border-radius: 0px 6px 6px 0px;
  /* box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -7px rgba(0, 0, 0, .2); */
}
.demo {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -7px rgba(0, 0, 0, .2);
  border-radius: 6px;
  background-color: #fff;
}

/* Grid CSS */
.pagination li {
  padding: 10px;
  /* text-align: right!important; */
}
.col-xs-4 {
  display: none;
}
a {
  color: rgba(0,0,0,.54)!important;
  background-color: transparent;
}
