.mgbt{
 margin-bottom: 20px!important;
}
.btn-align3 {
    float:right;
}
.button.btn01.btncl.btn.btn-primary{
    float: left!important;
    margin-left: 10px!important;
}
.row.btngri2 {
    margin-top: 17px;
}
.gradient-45deg-indigo-purple {
    background: #303f9f;
    background: -moz- oldlinear-gradient(45deg, #303f9f, #7b1fa2) !important;
    /* background: linear-gradient(45deg, #303f9f, #7b1fa2) !important; */
    background: linear-gradient(45deg, #f8b006, #d14b07) !important;
}
.modal-header.gradient-45deg-indigo-purple {
    height: 56px;
}
.btn-align4 {
    float: right;
    margin-bottom: -38px;
}
.mgbt4 {
    margin-bottom: 34px;
}
.modal.show .modal-dialog {
    transform: rotateX(1deg);
}
.modal-content {
 
  
    margin-top: 206px;
}
h5.breadcrumbs-title.mt-0.mb-0.addcolr {
    color: white!important;
}
.btn05 {
    /* border: 2px solid #d14b07; */
    background: linear-gradient(45deg, #f8b006, #d14b07) !important;
    padding: 4px 5px;
    color:white!important;
    font-size: 1rem;
    transition: all 0.5s;
    position: relative;
    border-radius: 6px;
    padding-right: 4px;
    /* margin-top: 45px; */
}
.btn06 {
    /* border: 2px solid #d14b07; */
    background: linear-gradient(45deg, #f8b006, #d14b07) !important;
    padding: 4px 5px;
    padding-right: 6px;
    padding-bottom: 3px;
    font-size: 1rem;
    transition: all 0.5s;
    position: relative;
    border-radius: 5px;
    color: white!important;
    /* margin-top: 45px; */
}
.btn07 {
    /* border: 2px solid #d14b07; */
    background: linear-gradient(45deg, #f8b006, #d14b07) !important;
    padding: 4px 5px;
    color:white!important;
    font-size: 1rem;
    transition: all 0.5s;
    position: relative;
    border-radius: 6px;
    padding-right: 4px;
    padding-bottom: 2px;
    /* margin-top: 45px; */
}
i.fa.fa-plus.btn05 {
    font-size: 15px!important;
}
/* .btngri{
    margin-bottom: 10px;
} */

  /* .search {
    border-bottom: 0px!important;
    font-size: 16px!important;
    padding: 1px 0 0 28px!important;
    margin: 0 0 5px!important;
  }
  .search-icon {
    color: rgb(255, 255, 255);
      margin-left: 25px;
  }
  .bell-icon {
    font-size: 18px;
    margin-top: 10px;
  } */
  
  /* Search Button */
  .gridicon {
    /* border: 2px solid #d14b07; */
    /* background: linear-gradient(45deg, #f8b006, #d14b07) !important; */
    /* padding: 5px 30px; */
    /* color: #d14b07!important; */
    font-size: 17px!important;
    /* margin-top: 45px; */
}

